<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Email reset password</title>
   <style>

       #unique_size {
        font-size: 20px;
       }

       .card {
           font-family: "Helvetica Neue";
           text-align: center;
           margin: auto;
           width: 40%;
       }

       .btn {
           padding: 7px;
           margin-bottom: 10px;
           background: #993CF3;
           color: #fff;
           border-radius: 5px;
       }

   </style>
</head>
<body>
    <div class="card">
        <div class="card-body">
            <p class="card-text text-center"><strong>{{ small_text_detail }}</strong></p>
            <p class="text-center">{{ email }}</p>
            <p class="text-center">{{ for_pass_confirm }}</p>
            <a class="text-center verify-button" href=" {{ domain }}">
                <button type="button" class="btn">Create new password</button>
            </a>
            <p class="text-center">{{ info_for_create }}</p>
            <p class="text-center" id="unique_size"> Token = <strong>{{ token }}</strong></p>
        </div>
    </div>
</body>
</html>
