[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==3.4.6"
django = "==3.2.24"
django-allauth = "==0.44.0"
django-cors-headers = "==3.7.0"
django-rest-passwordreset = "==1.1.0"
django-rest-swagger = "==2.2.0"
djangorestframework = "==3.12.2"
djangorestframework-simplejwt = "==4.6.0"
psycopg2-binary = "==2.9.9"
python-decouple = "==3.8"
pytils = "==0.4.1"

[dev-packages]

[requires]
python_version = "3.12"
