[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.0"
django-allauth = "==0.45.0"
django-cors-headers = "==3.7.0"
django-rest-passwordreset = "==1.2.1"
djangorestframework = "==3.14"
coreapi = "*"
djangorestframework-simplejwt = "==4.6.0"
psycopg2-binary = "==2.9.9"
python-decouple = "==3.8"
pytils = "==0.4.1"
cryptography = "*"

[dev-packages]

[requires]
python_version = "3.12"
